  /* ボディ全体 */
  body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ, Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    letter-spacing : 0.2em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* ヘッダー */
  header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  nav {
    margin: 0 0 0 auto;
  }
  
  header h1 {
    margin: 0; 
    padding: 0;
    font-size: 40px;
    font-family: 'Economica', sans-serif;
  }
  
  header a {	
    text-decoration: none;
    color: #4b4b4b;
    font-weight: 20;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
  header li {
    margin: 0 0 0 15px;
    font-size: 14px;
  }
  
  /* フォーム */
  .alert {
    display: inline;
    color: #FA5C65;
    margin:0 auto;
    background-color: red;
    font-size: 20px;
    font-weight:bold;
  }
  
  .alert li{
    list-style: none;
  }
  
  .form_container {
    text-align: center;
    margin-top:50px;
  }
  
  .form_container a{
    text-decoration: none;
  }
  
  .forms {
    position: relative;
    width: 40%;
    margin: 0 auto ;
  }
  
  .forms input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
  }
  
  .forms input[type='text']:focus {
    outline: none;
  }
  
  .common {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid #1b2538;
    background-color: transparent;
  }
  
  .common ~ .focus {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
    background-color:  #009966;
  }
  
  .common:focus ~ .focus,
  .forms.common ~ .focus {
    width: 100%;
    transition: 0.4s;
  }
  
  .common ~ label {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    color: #aaaaaa;
  }
  
  .common:focus ~ label, .forms.common ~ label {
    font-size: 12px;
    top: -16px;
    transition: 0.3s;
    color:  #1b2538;
  }
  
  /* 誕生日一覧 */
  .posts_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  .posts_container a{
    text-decoration: none;
  }
  
  .store_button {
    text-align: center;
    margin-top:15px;
    display:block;
  }
  
  table th.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }
  
  table th.icon{
    background-image: url(/img/gift.png)
  }
  
  .table{
    width: 70%;
    border-spacing: 0;
  }
  
  .table th{
    border-bottom: solid 2px #009966;
    padding: 10px 0;
  }
  
  .table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 5px 5px;
    
  }
  
  .table a{
    text-decoration: none;
    color: #4b4b4b;
  }
  
  .alert{
    text-align:center;
    text-decoration: none;
  }
  
  .button1 {
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 30px;
    color: white;
    border: solid 2px #2E8B57;
    background: #2E8B57;
    border-radius: 3px;
    transition: .4s;
  }
  
  .button1:hover {
    background: white;
    color: #2E8B57;
    
  }
  
  .button_wrapper{
    text-align: center;
    padding: 15px;
  }

  #button1{
    color:white;
    background: #2E8B57;
    border: solid 2px #2E8B57;
    border-radius: 3px;
    padding: 10px 15px;
    margin-left: 2px;
    transition: .4s;
  }

  #button1:hover {
    background: white;
    color: #2E8B57;
  }
  
  #button2{
    color:white;
    background:  #F43E43;
    border: solid 2px #F43E43;
    border-radius: 3px;
    padding: 10px 15px;
    transition: .4s;
  }
    
  #button2:hover {
    background: white;
    color: #F43E43;
  }

  #button3{
    color:white;
    background: #4b4b4b;
    border: solid 2px #4b4b4b;
    border-radius: 3px;
    padding: 10px 15px;
    margin-left: 5px;
    transition: .4s;
    
  }
  
  #button3:hover {
    background: white;
    color: #4b4b4b;
  }

  /* 詳細 */
  .profile-card{
    width: 500px;
    border-radius:3px;
    position: relative;
    background: #fff; 
    box-shadow: 0px 1px 3px rgba(0,0,0,.18);
    overflow: hidden;
    margin:0 auto;
    margin-top:60px;
  }
  
  .profile-card:before{
    width:150%;
    height:150px;
    content:"";
    transform:skew(15deg,10deg);
    background: 2E8B57;
    position:  absolute;
    top:-15%;
    left:-10%;
    z-index: 0;
  }
  
  .profile-card__inner{
    position: relative;
  }
  
  .profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
  }
  
  .profile-thumb img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .profile-content{
    padding: 15px;
  }
  
  .profile-content span{
    display: block;
  }
  
  .profile-name{
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
  }
  
  .profile-job{
    margin-bottom: 10px;
    color: #ccc;
    font-size: 15px;
    text-align: center;
  }
  
  .profile-intro{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
  }
  /* 詳細　ボタン群 */
  .button_group{
    margin-top:50px;
    text-align: center;
    text-decoration: none;
  }
  .button_group a {
    text-decoration: none;
  }
  
  
  .button_wrapper {
    margin-top: 30px;
  }
  
  .paginate{
    text-align: center;
    margin-top:50px;
  }
  
  .paginate li  {
    list-style:none;
    display:inline;
  }
  
  .paginate a {
    text-decoration: none;
    background:white;
    color:#2E8B57;
    padding:10px 13px;
    border:1px #ccc solid;
    border-radius: 5px / 5px;
  }
  
  /* レスポンシブ対応 */
  @media screen and (max-width:480px) {
    /*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .forms{
      width:80%;
    }
    
    .profile-card {
    width:80%;
  }
  .body {
    width:80%;
  }

  .table {
    width: 95%;
  }

  table th.icon{
    background-size: 15px;
  }
 
  #button1{
    padding: 6px 13px;
    margin-left: 2px;
  }
  
  #button2{
    padding: 6px 13px;
    margin-left: 5px;
  }

  #button3{
    padding: 6px 13px;
  }

  .paginate{
    margin-left: -40px;
    margin-top:50px;
  }

  header a {
    font-size:15px;

  }

  ul a{
    font-size:7px;
  }

}


